.not-found-page {
    text-align: center;
    padding: 20px;
  }
  
  .not-found-page h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .not-found-page p {
    font-size: 1.2em;
  }
  